// spacing
$space-xxxl: 3.2em;
$space-xxl: 2.6em;
$space-xl: 2.2em;
$space-l: 1.6em;
$space-m: 1em;
$space-s: .7em;
$space-xs: .35em;

// font-sizes
$font-size-xxxl: 60px;
$font-size-xxl: 48px;
$font-size-xl: 36px;
$font-size-l: 30px;
$font-size-m: 24px;
$font-size-s: 18px;
$font-size-xs: 12px;

// colours
$charcoal: #333;
$stone: #999;
$red: #d32f2f;
$deep-orange: #ff5722;

// indexes
$header-index: 50;